APP_ENV=dev
APP_BASE_URL=http://localhost:8000

# MySQL
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=gpap
MYSQL_PASSWORD=gpap123
MYSQL_DB=gpap

# JWT
JWT_SECRET=change_me
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=120

